{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true,
          "browsers": "> 1%, not dead"
        }
      }
    ]
  ],
  "plugins": [["styled-components", { "displayName": true }]]
}
